<html>
    <head>
        <title>Management</title> <!-- Sets the text on the tab -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="javascripts/app.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-app="shopping" ng-controller="MainCtrl"> <!-- Give Angular access to everything inside of this tag -->
        <div style="margin-left: 5em;">
            <h1> Store Management Interface </h1>
            <input type="text" ng-model="prodName"></input> <!--Gives a two way street between this and the webpage -->
            <input type = "text" ng-model="price"></input>
            <input type = "text" ng-model="picURL"></input>
            <button ng-click="addProduct()">Add Product</button>

            <h1>Current Products</h1>
            <div ng-repeat="product in products | orderBy:['Name']"> <!--Basically a for each loop, ordered in decending order by votes first then by Name -->
                <span class="glyphicon glyphicon-remove" ng-click="deleteProduct(product)"></span> <!-- ng-click is an onClick listener basically but fancier-->
                {{product.Name}} - price {{product.price}} - ordered: {{product.ordered}} <img src="{{product.imageURL}}"></img> <!--Angular knows that stuff in the {{}} are for it to evaluate-->
            </div>
        </div>
    </body>
</html>

<!--Why are there two divs, and what is going on with the glyphicons?--> 