<html>
    <head>
        <title>Management</title> <!-- Sets the text on the tab -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="javascripts/app.js"></script>
        <script stc="stylesheets/style.css" rel="stylesheet"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <style>
              .heading-border-2
            {
                background-color: gray;
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
                margin-bottom: 50px;
            }
        </style>
    </head>
    <div class="heading-border-2">
            <h1>   Store Management</h1>
        </div>
    <body ng-app="shopping" ng-controller="MainCtrl"> <!-- Give Angular access to everything inside of this tag -->
        <div style="margin-left: 5em;">
            <h1> Store Management Interface </h1>
            Product Name <input type="text" ng-model="prodName"></input> <!--Gives a two way street between this and the webpage -->
            Price <input type = "text" ng-model="price"></input>
            Picture URL <input type = "text" ng-model="picURL"></input>
            <button ng-click="addProduct()">Add Product</button>

            <h1>Current Products</h1>
            <div ng-repeat="product in products | orderBy:['Name']"> <!--Basically a for each loop, ordered in decending order by votes first then by Name -->
                <span class="glyphicon glyphicon-remove" ng-click="deleteProduct(product)"></span> <!-- ng-click is an onClick listener basically but fancier-->
                {{product.Name}} - price {{product.price}} - ordered: {{product.ordered}} <img width:"50px" height:"50px" ng-show="product.picURL" ng-src="{{product.picURL}}"><!--Angular knows that stuff in the {{}} are for it to evaluate-->
            </div>
        </div>
    </body>
</html>

<!--Why are there two divs, and what is going on with the glyphicons?--> 