<html>
    <head>
        <title>Votes</title> <!--Text in the tab-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="javascripts/app.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        
    </head>
    <body ng-app="shopping" ng-controller="MainCtrl"> <!--Tells Angular code that it has access to the stuff included in this tage -->
        <div style="margin-left: 5em;">
            <h1>Current Products</h1>
            
            <h1> Shopping Cart </h1>
            <div ng-repeat="product in products | orderBy:['Name']"> <!--For each loop, ordered by name-->
                <input type="checkbox" ng-model="product.selected"> <!--sets the selected parameter of the candidate, two way communication-->
                {{product.Name}} - price {{product.price}}
            </div>
            <button ng-click="addToCart()"> Submit Purchases </button> <!--Click this and doVote() will get called-->
            <h1> Shopping Cart</h1>
            <div ng-repeat="product in cart |  orderBy:['Name']">  {{product.Name}} - price {{product.price}} {{product.picURL}}</div> <!--For each loop-->
            <img src="https://static.pexels.com/photos/159541/wildlife-photography-pet-photography-dog-animal-159541.jpeg">
        </div>
    </body>
</html>


<!--Is what I said about the candidate.selected true?-->