<html>
    <head>
        <title>Candidates</title> <!-- Sets the text on the tab -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
         <script src="jquery-1.11.1.min.js"></script>
        <script src="bootstrap.min.css"></script>
       
        <script src = "javascripts/app.js"></script>
    </head>
    <body ng-app="voting" ng-controller="MainCtrl"> <!-- Give Angular access to everything inside of this tag -->
        <div style="margin-left: 5em;">
            <h1> Administrative Interface </h1>
            <input type="text" ng-model="formContent"></input> <!--Gives a two way street between this and the webpage -->
            <button ng-click="addCandidate()">Add Candidate</button>

            <h1>Current Candidates</h1>
            <div ng-repeat="candidate in candidates | orderBy:['-votes','Name']"> <!--Basically a for each loop, ordered in decending order by votes first then by Name -->
                <span class="glyphicon glyphicon-remove" ng-click="deleteCandidate(candidate)"></span> <!-- ng-click is an onClick listener basically but fancier-->
                {{candidate.Name}} - votes {{candidate.upvote}} <!--Angular knows that stuff in the {{}} are for it to evaluate-->
            </div>
        </div>
    </body>
</html>

<!--Why are there two divs, and what is going on with the glyphicons?--> 