<html>
    <head>
        <title>Votes</title> <!--Text in the tab-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="javascripts/app.js"></script>
        <script src="bootstrap.min.css"></script>
        
    </head>
    <body ng-app="voting" ng-controller="MainCtrl"> <!--Tells Angular code that it has access to the stuff included in this tage -->
        <div style="margin-left: 5em;">
            <h1>Voter Interface</h1>
            
            <h1> Current Candidates </h1>
            <div ng-repeat="candidate in candidates | orderBy: 'Name'"> <!--For each loop, ordered by name-->
                <input type="checkbox" ng-model="candidate.selected"> <!--sets the selected parameter of the candidate, two way communication-->
                {{candidate.Name}}
            </div>
            <button ng-click="doVote()"> Submit Votes </button> <!--Click this and doVote() will get called-->
            <h1> Submitter Ballot </h1>
            <div ng-repeat="candidate in ballot | orderby: 'Name'">  {{candidate.Name}} </div> <!--For each loop-->
        </div>
    </body>
</html>


<!--Is what I said about the candidate.selected true?-->